---
// src/components/Header.astro
---

<nav>
  <ul class="menu_liste">
    <li><a class="menu" href="index.html">Category</a></li>
    <li><a class="menu" href="index.html">Brands</a></li>
    <li><a class="menu" href="index.html">Seasons</a></li>
  </ul>
</nav>

<h1 class="overskrift">Fashion<span class="r">R</span>Us</h1>
